<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>This is home page</h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. At id ex aut nulla
    cum aspernatur iste ratione numquam cumque aliquid vel maiores excepturi
    quia sunt, sit assumenda iusto optio nesciunt et architecto vitae doloribus.
    Vero nam itaque ea doloremque hic, tenetur veniam sint suscipit ad eos optio
    dolor, expedita, magnam sequi fugiat quo. Facilis harum repellat cupiditate
    error veniam corporis inventore minima nobis esse tempora, ducimus molestiae
    officia id. Pariatur amet blanditiis facere sint veritatis mollitia, neque
    itaque nihil et illo reprehenderit, aspernatur vero alias ipsam tenetur
    suscipit voluptates repellat ad fugiat fuga? Optio dolores iste voluptate
    totam eligendi eius!
  </body>
</html>
