<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Anugraha Tamang</title>
  </head>
  <body>
    <h1>Name: Anugraha Tamang</h1>
    <p>
      Anugraha Tamang is a senior software developer. He have a experince about
      a lot of different type of project. Lorem ipsum dolor sit amet,
      consectetur adipisicing elit. Fuga impedit voluptatibus inventore modi
      amet dolore facilis animi placeat incidunt eligendi magni molestiae veniam
      repellat illum, reiciendis, dolorum voluptas iusto accusantium totam quasi
      consequatur consequuntur quis dignissimos? Deserunt nostrum porro autem
      eligendi impedit illum amet, voluptatem, culpa voluptatibus neque dicta
      corporis fugiat quia magni obcaecati. Id itaque laudantium placeat in
      molestias harum ipsam iure temporibus quasi reiciendis, recusandae earum
      deserunt ea vel quibusdam unde praesentium sed eum laboriosam? Veritatis
      illo repellat hic magnam, quam animi a cum dolores esse, sapiente
      praesentium consequatur, error ullam ipsam. Animi et exercitationem magnam
      cupiditate numquam.
    </p>
  </body>
</html>
