<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>This is about the home page....</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
      asperiores adipisci eveniet numquam repudiandae quod maiores pariatur
      rerum suscipit officia dolor repellendus libero aut ex non, animi magni
      modi? Maxime maiores voluptas id ex voluptate voluptatem, assumenda
      sapiente quasi! Repellat voluptates enim rerum repudiandae libero amet
      numquam quas sed impedit dolorem perferendis non molestiae, excepturi esse
      animi eveniet suscipit quaerat asperiores maxime expedita? Illo, hic aut?
      Deserunt aspernatur magnam quo reiciendis nihil laboriosam, minima
      expedita recusandae unde illum vitae incidunt in saepe? Fuga tempore
      aliquam ratione dicta quia iusto natus atque aliquid doloremque ipsa ab
      accusantium quisquam quod, excepturi quam?
    </p>
  </body>
</html>
