<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>my form</title>
  </head>
  <body>
    <h1>This is simple form for the file upload....</h1>
    <form action="/submitform" method="POST" enctype="multipart/form-data">
      <div>
        <label for="nameinput">
          Name:
          <input type="text" name="username" id="nameinput" />
        </label>
      </div>
      <br />
      <div>
        <label for="fileinput"
          >Upload File:
          <input type="file" name="userfile" id="fileinput" />
        </label>
      </div>
      <br />
      <div>
        <input type="submit" value="submit" />
      </div>
    </form>
  </body>
</html>
